<h2> <a href=<%= "http://" + profile["website"]%>> <%= profile["name"] %> </a></h2>

<table class="table table-hover">
  <tr>
    <td>Industry</td>
    <td> <%=profile["industry"]%> </td>
  </tr>

  <tr>
    <td>Number of Ratings</td> 
    <td> <%=profile["numberOfRatings"]%> </td> 
  </tr>

  <tr>
    <td>Overall Rating</td>
    <td> <%=profile["overallRating"]%> </td>
  </tr>

  <tr>
    <td>Rating Description</td>
    <td> <%=profile["ratingDescription"]%> </td>
  </tr>

  <tr>
    <td>Featured Review (pros)</td>
    <td> <%=profile["featuredReview"]["pros"]%> </td>
  </tr>

  <tr>
    <td>Featured Review (cons)</td>
    <td> <%=profile["featuredReview"]["cons"]%> </td>
  </tr>

  </tr>
    <td>Culture and Values Rating</td>
    <td> <%=profile["cultureAndValuesRating"]%> </td>
  </tr>

  </tr>
    <td>Senior Leadership Rating</td>
    <td> <%=profile["seniorLeadershipRating"]%> </td>
  </tr>

  </tr>
    <td>Compensation and Benefits Rating</td>
    <td> <%=profile["compensationAndBenefitsRating"]%> </td>
  </tr>

  </tr>
    <td>Career Opportunities Rating</td>
    <td> <%=profile["careerOpportunitiesRating"]%> </td>
  </tr>

  </tr>
    <td>Work Life Balance Rating</td>
    <td> <%=profile["workLifeBalanceRating"]%> </td>
  </tr>

  </tr>
    <td>Recommend to Friend Rating</td>
    <td> <%=profile["recommendToFriendRating"]%> </td>
  </tr>

</table>